tomli==2.2.1
textual==3.2.0
requests==2.32.3
questionary==2.1.0
PyYAML==6.0.2
pytest==6.2.5
pydantic==2.11.4
pycryptodome==3.22.0
pip-system-certs==4.0
pip-autoremove==0.10.0
mdit-py-plugins==0.4.2
linkify-it-py==2.0.3
httpx==0.28.1
customtkinter==5.2.2
